* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


main {
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 1em;
    text-align: center;
    background-image: url(pwd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .container {
    width: 300px;
    background-color: white;
    position:absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .container h1 {
    margin-bottom: 1em;
    margin-top: 0.5em;
    color: black;
    animation-name: color;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* @keyframes color {
    0% {
        color:rebeccapurple;
    }
    25% {
        color: crimson;
    }
    50% {
        color: rosybrown;
    }
    75% {
        color: thistle;
    }
    100% {
        color: whitesmoke;
    }
} */

main .container span {
    font-size: 0.8rem;
    text-align: left;
    color: rebeccapurple;
}

main .container input {
    height: 50px;
    width: 250px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0 0.5em;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    color: black;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

main .container input:hover, main .container input:focus {
    border: none;
    border-bottom: 4px solid gray;
}

main .container .sign-container {
    width: 250px;
    text-align: center;
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

main .container .sign-container button {
    padding: 0.75em 1.5em;
    display: block;
    width: 100%;
    border: none;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;
    background-color: rebeccapurple;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

main .container .sign-container button:hover, main .container .sign-container button:focus {
    transform: translateY(10%);
}

main .container p {
    height: 30px;
    width: 200px;
    font-size: 0.8rem;
    text-align: center;
    color: black;
    background-color: white;
    border-bottom: 2px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    /* border: 1px solid black; */
    margin: auto;
    padding: 1em;
    cursor: copy;
}

main .container button {
    padding: 0.65em 1.5em;
    width: 220px;
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: rebeccapurple;
    border-radius: 5px;
    margin: 1em;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

main .container button:hover, main .container button:focus {
    transform: translateY(-10%);
}

@media screen and (min-width: 330px) {
    main .container {
        width: 500px;
    }

    main .container input {
        display: block;
        margin: auto;
        width: 80%;
    }

    main .container .sign-container {
        width: 90%;
        flex-direction: row
    }

    main .container .sign-container button {
        padding: 1em 2em;
    }

    main .container p {
        width: 80%;
        height: 50px;
    }

    main .container button {
        width: 80%;
        padding: 1em 2em;
    }

}
